NODE_ENV=development  # or production
PORT=

DEV_DATABASE_URL=postgres://username:password@host:port/database

SESSION_SECRET=backend#124
JWT_SECRET_KEY=your_jwt_secret_key


CDN_WEB_STATIC=your_cdn_link

SWAGGER_ADMIN_USER=infiniteaura@gmail.com
SWAGGER_ADMIN_PASSWORD=infiniteaura

SWAGGER_MOBILE_USER=infiniteaura@gmail.com
SWAGGER_MOBILE_PASSWORD=infiniteaura

FRONTEND_URL=http://localhost:4200
BACKEND_URL=http://localhost:#PORT

MAIL_SMTP_HOST=smtp.sendgrid.net
MAIL_SMTP_USERNAME=apikey
MAIL_SMTP_PASSWORD=
MAIL_SMTP_FROM=
